
.error-line {
  background-color:#FFDDDD;
}
.fullbox {
  width: 90vw;
  height: 80vh;
}

.tinybox {
  width: 30vw;
}

.nobord td,th {
	border: none;
	width: auto;
}

.tinygap {
	font-size: 2pt;
}

.butn {
vertical-align: top;
height: 28px;
min-height: 28px;
}


.butnrow {
	
}

.dial {
	width:  32px;
	height: 32px;
}

body {
	background-color:#f8f8f8;
}


/* Dropdown Button from www schools */
.dropbtn {
//    background-color: #3498DB;
//  color: white;
//  padding: 16px;
//  font-size: 16px;
	vertical-align: top;
	height: 28px;
	min-height: 28px;
	cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

input[type=checkbox] {
  transform: scale(1.75);
}

.audchbox {
margin-left: 8px;

}

.cboxtext {
 font-size: 18x;
 text-align: center;
 line-height: 18px;
}

table {
	border-collapse: collapse;
	text-align: center;
}

td {
	border: solid 1px;
	//padding: 0.5em;
}

th {
	border: solid 1px;
	//padding: 0.5em;
}

td.midichan {
	width: 28px;
	font-size: 14px;
	border: none;
	padding: none;
}

td.midiinst {
	font-size: 14px;
	border: none;
	padding: none;
}

table.midihead {
  text-align: left;
  table-layout: fixed;
  width: 140px;
  border: none;
}

td.midiheadr {
	vertical-align: top;
}

table.miditrack {
	vertical-align: top;
}

div.midilab {
	position: absolute;
	font-size: 7pt;
}

div.midigrid {
	position: relative;
	background-color:#E8E8E0;
	overflow: hidden;
	cursor: default;
}

div.midiitem {
	position: absolute;
	height: 4px;
	background-color: black;
	user-select: none;
}

div.midiitembow {
	position: absolute;
	height: 4px;
	color: yellow;
}

.butns {
vertical-align: center;
height: 18px;
min-height: 18px;
}

td.butnstd {
  border: none;
}

td.butnstr {
  border: none;
}

div.selbox {
	background-color: gray;
	position: absolute;
	opacity: 0.2;
}