
		input[type="button"] {
			width:360px;
			height:50px;
			-webkit-appearance: none;
			padding:0%;
			margin-top: 10px;
			

			text-decoration:none;
			display:inline;
			color:#000;
			background-color:#EEEEEE;
			border-radius:2px;
			box-shadow:1px 1px 1px #7F7F7F;
		}
		input[type="checkbox"] {
			width:50px;
			height:50px;
			 -moz-transform: scale( 2 , 2 );
		}
		table {
			border-collapse: collapse;
			text-align: center;
		}
		td {
			border: solid 1px;
			padding: 0.5em;
		}
		th {
			border: solid 1px;
			padding: 0.5em;
		}