<button class="butn zoominbut" title='Zoom in'><img src='img/glyphicons-237-zoom-in.png'/></button>
<button class='butn zoomoutbut'  title='Zoom out'><img src='img/glyphicons-238-zoom-out.png'/></button>
<button class='butn rewbut' title='Back to start'><img src='img/glyphicons-172-fast-backward.png'/></button>
<button class='butn plsybut' title='Play'><img width='16px'height='18px' class='playbutimg' src='img/glyphicons-174-play.png'/></button>
<button class='butn plsyselbut' title='Play selected'><img src='img/glyphicons-221-play-button.png'/></button>
<button class='butn undobut' title='Undo'><img src='img/glyphicons-436-undo.png'/></button>
<button class='butn redobut' title='Redo'><img src='img/glyphicons-435-redo.png'/></button>
<button class='butn selallbut' title='Select All'><img src='img/glyphicons-729-resize-horizontal.png'/></button>
<button class='butn delbut' title='Delete'>DEL</button>
<button class='butn cutbut' title='Cut to clipboard'><img src='img/glyphicons-599-scissors-alt.png'/></button>
<button class='butn copybut' title='Copy to clipboard'><img src='img/glyphicons-512-copy.png'/></button>
<button class='butn pastebut' title='Paste from clipboard'><img src='img/glyphicons-513-paste.png'/></button>
<table><tr>
<td><div id='dropdn{{idsuffix}}'></div></td>
<td><button class='butn trimbut'>Trim</button></td>
<td><button class='butn cropbut'>Crop</button></td>
<td><button class='butn normbut'>Normalize</button></td>
<td><button class='butn reversebut'>Reverse</button></td>
<td><button class='butn fadeinbut'>Fade In</button></td>
<td><button class='butn fadeoutbut'>Fade Out</button></td>
</tr>
</table>