<div class='delay'>
<table>
<tr>
<th colspan='6'>Delay Filter</th>
</tr>
<tr>
<td>
<div class='delaydropdn'><button class="dropbtn">Kind &#x25bc;</button>
	<div class="dropdown-content">
	<a data-id='normal'>Normal</a>
	<a data-id='inverted'>Inverted</a>
	<a data-id='pingpong'>PingPong</a>
 </div>
</div>
</td>
<td><input data-id='delay' type="text" value="1" class="dial" data-min="0" data-max="2" data-step='0.01' data-angleArc="300" data-angleOffset="210" data-width='128' data-height='128'></td>
<td><input data-id='feedback' type="text" value="0.5" class="dial" data-min="0" data-max="1.0" data-step='0.01' data-angleArc="300" data-angleOffset="210" data-width='128' data-height='128'></td>
<td><input data-id='cutoff' type="text" value="8000" class="dial" data-min="0" data-max="22050" data-angleArc="300" data-angleOffset="210" data-width='128' data-height='128'></td>
<td><input data-id='offset' type="text" value="0" class="dial" data-min="-0.5" data-max="0.5" data-step='0.01'  data-angleArc="300" data-angleOffset="210" data-width='128' data-height='128'></td>
<td><input data-id='dry' type="text" value="1" class="dial" data-min="0" data-max="1" data-step='0.01' data-angleArc="300" data-angleOffset="210" data-width='128' data-height='128'></td>
</tr>
<tr>
<th>Type</th>
<th>Delay</th>
<th>Feedback</th>
<th>Cutoff</th>
<th>Offset</th>
<th>Dry</th>
</tr>
</table>
</div>