<div class='filterhdr'>
<table><tr>
<td><button class='butn fl_apply'>Apply</button></td>
<td><button class='butn fl_cancel'>Close</button></td>
<td><input type='checkbox' class='audchbox fl_audition' checked><span class='cboxtext'>Audition</span></input></td>
</tr></table>
<div class ='filterbody'>
</div>
</div>