<div class='osc'>
<table>
<tr>
<th colspan='6'>Oscillator</th>
</tr>
<tr>
<td>
<div class='oscdropdn'><button class="dropbtn">Type &#x25bc;</button>
	<div class="dropdown-content">
	<a data-id='sine'>Sine</a>
	<a data-id='square'>Square</a>
	<a data-id='sawtooth'>Sawtooth</a>
	<a data-id='triangle'>Triangle</a>
 </div>
</div>
</td>
<td><input data-id='frequency' type="text" value="440" class="dial" data-min="0" data-max="7040"  data-step='1' data-angleArc="300" data-angleOffset="210" data-width='128' data-height='128'></td>
<td><input data-id='gain' type="text" value="0.80" class="dial" data-min="0" data-max="1.00" data-step='0.01' data-angleArc="300" data-angleOffset="210" data-width='128' data-height='128'></td>
<td><div class='oscDur'><input data-id='duration' type="text" value="0" class="dial" data-min="0" data-max="10" data-step='0.01' data-angleArc="300" data-angleOffset="210" data-width='128' data-height='128'></div></td>
</tr>
<tr>
<th>Type</th>
<th>Frequency</th>
<th>Gain</th>
<th><div class='oscDur'>Duration</div></th>
</tr>
</table>
</div>