<button id='quadpop' class="dropbtn">Lowpass Filter &#x25bc;</button>
	<div class="dropdown-content">
	<a data-id='lowpass'>Lowpass Filter</a>
	<a data-id='highpass'>Highpass Filter</a>
	<a data-id='bandpass'>Bandpass Filter</a>
	<a data-id='lowshelf'>Lowshelf Filter</a>
	<a data-id='highshelf'>Highshelf Filter</a>
	<a data-id='peaking'>Peaking Filter</a>
	<a data-id='notch'>Notch Filter</a>
	<a data-id='allpass'>Allpass Filter</a>
 </div>