<button class="dropbtn">Effects &#x25bc;</button>
	<div class="dropdown-content">
	<a data-id='openfilter'>Quad Filter</a>
	<a data-id='openReverb'>Simple Reverb</a>
	<a data-id='openDelay'>Delay</a>
	<a data-id='openOsc'>Oscillator</a>
 </div>