
.error-line {
  background-color:#FFDDDD;
}
.fullbox {
  width: 90vw;
  height: 80vh;
}

.tinybox {
  width: 30vw;
}

.nobord td,th {
	border: none;
	width: auto;
}

.tinygap {
	font-size: 2pt;
}

.butn {
vertical-align: top;
height: 28px;
min-height: 28px;
}

.butnrow {
	
}

body {
	background-color:#f8f8f8;
}
