<hr><div>
<b>Paste track data in field below to add it to song.</b><br>
<textarea class='paster tinybox' rows='2'></textarea>{{#if iOSDevice}}<br><input type='button' value='Add Track' class='iosSubmit'>{{/if}}
</div><p class='tinygap'>
