.CodeMirror {
  border: 1px solid #AAAAAA;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
.error-line {
  background-color:#FFDDDD;
}
.fullbox {
  width: 90vw;
  height: 80vh;
}
.minibox {
  width: 90vw;
}
.toolbox{
  margin-left: 5px;
  width:auto;
  float:left;
}
input[type="checkbox"] {
	width:30px;
	height:30px;
	-moz-transform: scale( 2 , 2 );
}
input[type="button"] {
	width:120px;
	height:30px;
	-webkit-appearance: none;
	padding:0%;
	margin-top: 5px;

    text-decoration:none;
    display:inline;
    color:#000;
    background-color:#EEEEEE;
    border-radius:2px;
    box-shadow:1px 1px 1px #7F7F7F;
}
body {
	background-color:#f8f8f8;
}
table {
	border-collapse: collapse;
	text-align: center;
}
td {
	border: solid 1px;
	padding: 0.5em;
}

th {
	border: solid 1px;
	padding: 0.5em;
}

.tabval td {
	text-align: left;
	padding: 0.5em;
}

.keyval {
	font-weight: 600;
	background-color:#f0f0f0;
}

.tabval {
	font-weight: 500;
	background-color:#f8f8f8;
}

div.trgrid {
	position: relative;
	// border: solid 1px;
	background-color:#f8f8f8;
	padding: 4px;
	margin: 4px;
}

div.trnote {
	position: absolute;
	height: 4px;
	background-color:#202020;
}