<div>You are running the local version of viewXML.
To view the contents of a SONG, SYNTH, or KIT file, press the 'Choose File' button at the top of this page and you will get a 'file open' dialog you can use to select the file you want to view. 
</div>