<table class='midi_knobs xmltab'>
<tr><th colspan='4'>Midi Parameter Mapping</th></tr>
<tr><th>Channel</th><th>CC #</th><th>Rel</th><th>Controls</th></tr>
{{#each this}}
<tr>
<td>{{channel}}</td>
<td>{{ccNumber}}</td>
<td>{{relative}}</td>
<td>{{controlsParam}}</td>
</tr>
{{/each}}
</table>
<p class='tinygap'/>