<p class='tinygap'>
<table class='samplelist xmltab'>
<tr><th>Samples used in this song</th>
<th><input class='showdrums' type='checkbox' {{#if showDrums}} checked{{/if}}>Show /SAMPLES/DRUMS</input></th>
</tr>
{{#each sampList}}
<tr><td>{{this}}</td>
<td><audio controls class='smallplayer' preload='none' ><source src='{{../sample_path_prefix}}{{this}}' type='audio/wav'></audio></td>
</tr>
{{/each}}
</table>
</div>
