<div id="filewidget" class="modal">
  <div class="filewidget">
	<div class="fw-header">
	  <span class="fw-close">&times;</span>
	  <h4>Save File</h4>
	</div>
	<div class="fw-body">
			<div id="header">
			</div>
			<div class="wrapper">
			</div>
	</div>
	<div class="fw-footer">
	<table class='fw-btn-frame'><tr>
		<td width='100%'><label class='inlab'>Save as:&nbsp;</label><span class='inspan'><input id="fw-name" class='fw-name'/></span></td>
		<td><input class='fw-but' id='savefilebut' type="button" value="Save"></td>
		<td><input class='fw-but' id='cancelbut' type="button" value="Cancel"></td>
	</tr></table>
  </div>
</div>