<?xml version="1.0" encoding="UTF-8"?>
<firmwareVersion>2.1.2</firmwareVersion>
<earliestCompatibleFirmware>2.0.0</earliestCompatibleFirmware>
<song>
	<previewNumPads>144</previewNumPads>
	<preview>00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FF06FF000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FF0600000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FF0600000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FF0600000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FF0600000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FF0600000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FF0600000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FF06800080</preview>
	<arrangementAutoScrollOn>0</arrangementAutoScrollOn>
	<xScroll>0</xScroll>
	<xZoom>12</xZoom>
	<yScrollSongView>-7</yScrollSongView>
	<yScrollArrangementView>-7</yScrollArrangementView>
	<xScrollArrangementView>0</xScrollArrangementView>
	<xZoomArrangementView>96</xZoomArrangementView>
	<timePerTimerTick>459</timePerTimerTick>
	<timerTickFraction>1610612736</timerTickFraction>
	<rootNote>0</rootNote>
	<inputTickMagnitude>1</inputTickMagnitude>
	<swingAmount>0</swingAmount>
	<swingInterval>7</swingInterval>
	<modeNotes>
		<modeNote>0</modeNote>
		<modeNote>2</modeNote>
		<modeNote>4</modeNote>
		<modeNote>5</modeNote>
		<modeNote>7</modeNote>
		<modeNote>9</modeNote>
		<modeNote>11</modeNote>
	</modeNotes>
	<reverb>
		<roomSize>1288490496</roomSize>
		<dampening>1546188288</dampening>
		<width>2147483647</width>
		<pan>0</pan>
		<compressor>
			<attack>370161836</attack>
			<release>935373126</release>
			<volume>-21474836</volume>
			<syncLevel>144</syncLevel>
		</compressor>
	</reverb>
	<affectEntire>0</affectEntire>
	<activeModFunction>1</activeModFunction>
	<lpfMode>24dB</lpfMode>
	<modFXType>flanger</modFXType>
	<delay>
		<pingPong>1</pingPong>
		<analog>0</analog>
		<syncLevel>7</syncLevel>
	</delay>
	<modFXCurrentParam>feedback</modFXCurrentParam>
	<currentFilterType>lpf</currentFilterType>
	<songParams>
		<delay>
			<rate>0x00000000</rate>
			<feedback>0x80000000</feedback>
		</delay>
		<reverbAmount>0x80000000</reverbAmount>
		<volume>0x3504F334</volume>
		<pan>0x00000000</pan>
		<lpf>
			<frequency>0x7FFFFFFF</frequency>
			<resonance>0x80000000</resonance>
		</lpf>
		<hpf>
			<frequency>0x80000000</frequency>
			<resonance>0x80000000</resonance>
		</hpf>
		<modFXDepth>0x00000000</modFXDepth>
		<modFXRate>0xE0000000</modFXRate>
		<stutterRate>0x00000000</stutterRate>
		<sampleRateReduction>0x80000000</sampleRateReduction>
		<bitCrush>0x80000000</bitCrush>
		<equalizer>
			<bass>0x00000000</bass>
			<treble>0x00000000</treble>
			<bassFrequency>0x00000000</bassFrequency>
			<trebleFrequency>0x00000000</trebleFrequency>
		</equalizer>
		<modFXOffset>0x00000000</modFXOffset>
		<modFXFeedback>0x80000000</modFXFeedback>
	</songParams>
	<instruments>
		<midiChannel>
			<channel>0</channel>
			<suffix>-1</suffix>
		</midiChannel>
	</instruments>
	<sections>
		<section>
			<id>0</id>
			<numRepeats>0</numRepeats>
		</section>
		<section>
			<id>1</id>
			<numRepeats>0</numRepeats>
		</section>
		<section>
			<id>2</id>
			<numRepeats>0</numRepeats>
		</section>
		<section>
			<id>3</id>
			<numRepeats>0</numRepeats>
		</section>
		<section>
			<id>4</id>
			<numRepeats>0</numRepeats>
		</section>
		<section>
			<id>5</id>
			<numRepeats>0</numRepeats>
		</section>
		<section>
			<id>6</id>
			<numRepeats>0</numRepeats>
		</section>
		<section>
			<id>7</id>
			<numRepeats>0</numRepeats>
		</section>
		<section>
			<id>8</id>
			<numRepeats>0</numRepeats>
		</section>
		<section>
			<id>9</id>
			<numRepeats>0</numRepeats>
		</section>
		<section>
			<id>10</id>
			<numRepeats>0</numRepeats>
		</section>
		<section>
			<id>11</id>
			<numRepeats>0</numRepeats>
		</section>
	</sections>
	<tracks>
		<track>
			<inKeyMode>1</inKeyMode>
			<yScroll>35</yScroll>
			<yScrollKeyboard>50</yScrollKeyboard>
			<isPlaying>1</isPlaying>
			<isSoloing>0</isSoloing>
			<playEnabledAtStart>1</playEnabledAtStart>
			<trackLength>192</trackLength>
			<colourOffset>-60</colourOffset>
			<beingEdited>1</beingEdited>
			<activeModFunction>0</activeModFunction>
			<midiChannel>0</midiChannel>
			<section>0</section>
			<noteRows>
			</noteRows>
		</track>
	</tracks>
</song>