<table class='nobord'><tr>
	<td><input id='opensongbutn' name="file" type="file" accept=".xml,.XML" /></td>
	<td><input id='downloadbut' type="button" value="Download" style="width:55pt" ></td>
</tr>
</table>