<table class='nobord'><tr>
	<td>Song File:</td>
	<td><input id='openlocalsongbutn' name="file" type="file" accept=".xml,.XML" value='Open Song'/></td>
	<td><input id='downloadbut' type="button" value="Download" style="width:55pt" ></td>
</tr>
</table>