<table class='nobord'><tr>
	<td><input id='opener' name="file" type="file" accept=".wav,.WAV" /></td>
	<td><input id='downloadbut' type="button" value="Download" style="width:55pt" ></td>
</tr>
</table>